body {
    background-color: lightgreen;
    text-align:center;
}
h1 {
    color: green;
}
span {
    color:darkgreen;
}
ul{
    text-align: center;
}

.pgreen{
    color:darkolivegreen;
}
.bigfontsize{
    font-size: x-large;
}